/* Fontes externas */
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

/* Configuração Tailwind (v4) */
@import "tailwindcss/preflight";
@import "tailwindcss/utilities";

/* Imports de estilos específicos */
@import "./page-content.css";
@import "./menu.css";

body {
  font-family: var(--font-nunito);
  font-weight: 600;
}

/* Theme */
:root {
  --font-nunito: "Nunito", sans-serif;
  /* demais variáveis */
}